*.csv
*.pth
*.tar.gz
lfw-py/
lfw*
test/
vggface2_224/
MNIST/
SiameseNetwork/
__MACOSX/
cpu-z_1.79-en.exe
digiFace1M/
.ipynb_checkpoints/
.ses
ChatGPT_generated.ipynb
large_prepared_data/
view
Dataset/
Moji/
frame_images_DB/
Dataset/
.idea/
IMG_1160.MOV

crop_face_ds/
crop_face_ds2/

mobile_network_with_triplet_digiFace-Copy1.ipynb