*.csv
*.pth
lfw-py/
lfw*
test/
vggface2_224/
MNIST/
SiameseNetwork/
__MACOSX/
cpu-z_1.79-en.exe
digiFace1M/
.ipynb_checkpoints/
.ses
ChatGPT_generated.ipynb
large_prepared_data/
view

mobile_network_with_triplet_digiFace-Copy1.ipynb